/* Exemplo de comentario */

body{
    margin-right: 520px;
    background-color: purple;
    background-image: url(assets/instagram.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; /* se pode usar o comando "scroll" para a imagem subir com a tela */
    /* ou */
    /* background: purple url(assets/instagram.png) no-repeat right top fixed;*/
}

.testeClass{
    color: white;
}

ul.testeClass{
    color: black;
}

.prading{
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

p.prading{
    width: 300px;
    padding: 25px;
    box-sizing: border-box;  /*Comando feito para manter os pixels originais do "width" sem somar os do "padding"*/
}

p.pontilhado{
    border-style: dotted;
}

p.tracejadas{
    border-style: dashed;
}

p.sólido{
    border-style: solid;
}

p.duplo{
    border-style: double;
}

p.ranhura{
    border-style: groove;
}

p.cume{
    border-style: ridge;
}

p.inserir{
    border-style: inset;
}

p.inicio{
    border-style: outset;
}

p.nenhuma{
    border-style: none;
}

p.escondida{
    border-style: hidden;
}

p.mix{
    border-style: dotted dashed solid double;
}

#p1{
    border-style: solid;
    border-width: 5px 10px; /*5px para o topo e chão, e 10px para os lados*/
    border-color: red;
    border-radius: 5px; /*Bora arredndada*/
}

#p2{
    border-style: solid;
    border-width: medium;
    border-color: green red beige blue; /*green para o topo, red para a direta, beige para a direita, blue para esquerda*/
}

#p3{
    border-style: dotted;
    border-width: 2px 5px 10px 8px; /*2px para o topo, 5px para a direta, 10px para o chão, 8px para a esquerda*/
}

#p4{
    border-style: dotted;
    border-width: thick;
}

#p5{
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    /* também se pode usar os comandos na mesma linha*/
}

#paragrafoExemplo{
    color: white;
    border: 2px;
    border-style: dashed;
    border-color: black;
}

#bg1{
    background-color: lightblue ;
    opacity: 0.3;
}

#bg2{
    background-color: rgba(202, 101, 303, 0.3);
}

#bg3{
    color:white;
    background-image: url(assets/teste.jpg);
    background-repeat: no-repeat;
}